.arrivals {
    display: flex;
    flex-direction: column;
    row-gap: 50px;

    @include md {
        row-gap: 40px;
    }

    // .arrivals__navigation

    &__navigation {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include sm {
            justify-content: center;
        }
    }

    &__dots {
        @include sm {
            display: none !important;
        }
    }

    &__cards {
        display: flex;
    }
}