<section class="section section_features">
    <div class="container">
        <div class="features">
            <div class="features__item">
                <img src="../../img/icons/shipping-icon.svg" alt="" class="features__icon">
                <h4 class="features__title">Free Shipping</h4>
                <p class="features__text">Order above $200</p>
            </div>
            <div class="features__item">
                <img src="../../img/icons/money-icon.svg" alt="" class="features__icon">
                <h4 class="features__title">Money-back</h4>
                <p class="features__text">30 days guarantee</p>
            </div>
            <div class="features__item">
                <img src="../../img/icons/secure-icon.svg" alt="" class="features__icon">
                <h4 class="features__title">Secure Payments</h4>
                <p class="features__text">Secured by Stripe</p>
            </div>
            <div class="features__item">
                <img src="../../img/icons/call-icon.svg" alt="" class="features__icon">
                <h4 class="features__title">24/7 Support</h4>
                <p class="features__text">Phone and Email support</p>
            </div>
        </div>
    </div>
</section>