<section class="section">
    <div class="offer">
        <div class="offer__img"></div>
        <div class="offer__content">
            <div class="container">
                <p class="offer__promo">PROMOTION</p>
                <h2 class="offer__title">Hurry up! 40% OFF</h2>
                <p class="offer__sub">Thousands of high tech are waiting for you</p>
                <p class="offer__expires">Offer expires in:</p>
                <div class="offer__timers">
                    <div class="offer__timer">
                        <div class="offer__timer-value" id="days">02</div>
                        <p class="offer__timer-desc">Days</p>
                    </div>
                    <div class="offer__timer">
                        <div class="offer__timer-value" id="hours">02</div>
                        <p class="offer__timer-desc">Hours</p>
                    </div>
                    <div class="offer__timer">
                        <div class="offer__timer-value" id="minutes">02</div>
                        <p class="offer__timer-desc">Minutes</p>
                    </div>
                    <div class="offer__timer">
                        <div class="offer__timer-value" id="seconds">02</div>
                        <p class="offer__timer-desc">Seconds</p>
                    </div>
                </div>
                <a href="#!" class="btn offer__btn">Shop now</a>
            </div>
        </div>
    </div>
</section>
