<section class="partners">
    <div class="container">
        <div class="partners__content">
            <img src="../../img/icons/partners1.svg" alt="partners" class="partners__icon" />
            <img src="../../img/icons/partners2.svg" alt="partners" class="partners__icon" />
            <img src="../../img/icons/partners3.svg" alt="partners" class="partners__icon" />
            <img src="../../img/icons/partners4.svg" alt="partners" class="partners__icon" />
            <img src="../../img/icons/partners5.svg" alt="partners" class="partners__icon" />
            <img src="../../img/icons/partners6.svg" alt="partners" class="partners__icon" />
        </div>
    </div>
</section>
