<section class="section_sign-up">
    <div class="container">
        <div class="sign-up">
            <h3 class="sign-up__title">Join Our Newsletter</h3>
            <p class="sign-up__subtitle">Sign up for deals, new products and promotions</p>
            <div class="sign-up__input">
                <img class="sign-up__icon" src="../../img/icons/email-icon.svg" alt="email" />
                <input type="text" placeholder="Email address" />
                <button type="button">Signup</button>
            </div>
        </div>
    </div>
</section>
