.badge {
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    text-transform: uppercase;
    text-align: center;
    color: var(--text-color-darken);
    background: var(--bg-color-white);
    padding: 4px 14px;
    border-radius: 4px;
}