.btn {
    display: inline-flex;
    text-align: center;
    justify-content: center;
    background-color: var(--bg-color-dark);
    color: var(--text-color-white);

    border-radius: 8px;
    font-weight: 500;

    transition: all 0.5s ease;

    @media (hover: hover) {
        &:hover {
            background-color: #282D2E;
        }
    }

    @media (hover: none) {
        &:active {
            background-color: #282D2E;
        }
    }


}